<nav class="bg-navy pad-12 navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/yourscope.png" width="100" height="30" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngbCollapse]="collapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item button-md">
        <a class="nav-link white" href="student/profile">Profile</a>
      </li>
      <li class="nav-item button-md">
        <a class="nav-link white" href="student/courses">Course Planning</a>
      </li>
      <li class="nav-item button-md">
        <a class="nav-link white" href="student/toolkit">Toolkit</a>
      </li>
      <li class="nav-item button-md">
        <a class="nav-link white" href="student/postings">Job Search</a>
      </li>
      <li class="nav-item button-md">
        <a class="nav-link white" href="student/events">School Events</a>
      </li>
    </ul>
  </div>
</nav>
<!-- Background for page -->
<div id="bg">
  <!-- Title -->
  <div>
    <h2 class="pad-12 white">
      Course Planning
    </h2>
  </div>

  <!-- Schedule wrapper div -->
  <div id="studentSchedule">
    <div class="scheduleYearWrapper" *ngFor="let year of schedule.years" id="{{this.scheduleYearPrefix+year.yearNumber}}">
      <h4 class="scheduleYearHeading">{{"Year " + year.yearNumber}}</h4>
      <div class="scheduleYear">
        <table class="courseDisplay">
          <tr class="courseWrapper" *ngFor="let i of courseIndices" [class.courseBottomBorder]="i != 7">
            <td *ngIf="year.courses[i]">{{year.courses[i].courseCode+" - "+year.courses[i].name}}</td>
            <td *ngIf="!(year.courses[i])">{{"Plus"}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
