**/.DS_Store
api/yourscope-api/obj/Debug/*
api/yourscope-api/bin/Debug/*
api/yourscope-api/.vs/*
api/yourscope-api/obj/Debug/net7.0/apphost.exe
api/yourscope-api/obj/Debug/net7.0/yourscope-api.GeneratedMSBuildEditorConfig.editorconfig
